*.sdf
*.obj
*.ilk
*.obj
*.opensdf
*.pdb
*.suo
*.idb

/KinectPV2/build/Build/.metadata
/KinectPV2/build/Build/.recommenders

*.tlog
*.log
*.ipch
*.codeanalysisast
*.codeanalysis
*.pch
*.lastbuildstate
