*.sdf
*.obj
*.ilk
*.obj
*.opensdf
*.pdb
*.suo
*.idb

/Build_libs/.metadata
/Build_libs/.recommenders

/Build_libs/KinectPV2_Eclipse/lib/
/Build_libs/KinectPV2_Eclipse/bin/

*.tlog
*.log
*.ipch
*.codeanalysisast
*.codeanalysis
*.pch
*.lastbuildstate

*.jardesc
Build_libs/RemoteSystemsTempFiles/.project
Build_libs/KinectPV2_Eclipse/.metadata/
